.square {
    background-color: white;
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    width: 5rem;
    height: 5rem;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}